<div class="container mt-5">
    <h2>Cakes
        <a class="float-right btn btn-primary" [routerLink]="['/cakes/add']">Add</a>
    </h2>

    <div class="table-responsive-xl">
        <table class="table table-bordered mt-5">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Comment</th>
                    <th scope="col">Image</th>
                    <th scope="col">Yum Factor</th>
                    <th scope="col">&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of data; let i = index;">
                    <td>{{item.name}}</td>
                    <td>{{item.comment}}</td>
                    <td>{{item.imageUrl}}</td>
                    <td>{{item.yumFactor}}</td>
                    <td class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-danger" (click)="deleteCake(item.id, i)">Delete</button>
                        <a [routerLink]="['/cakes/edit/', item.id]" class="btn btn-primary">Edit</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <p *ngIf="!data.length" class="text-center">Loading...</p>
    </div>
</div>
