<div class="container mt-5">
    <h2>Cakes
        <a class="float-right" [routerLink]="['/cakes/add']">
            <button type="button" class="btn btn-primary">Add</button>
        </a>
    </h2>

    <div class="table-responsive-xl">
        <table class="table table-bordered mt-5">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Comment</th>
                    <th scope="col">Image</th>
                    <th scope="col">Yum Factor</th>
                    <th scope="col">&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of data; let i = index;">
                    <td width="20">{{item.name}}</td>
                    <td>{{item.comment}}</td>
                    <td>{{item.imageUrl}}</td>
                    <td>{{item.yumFactor}}</td>
                    <td width="250">
                        <button type="button" class="btn btn-danger mr-1" (click)="deleteCake(item.id, i)">Delete</button>
                        <a [routerLink]="['/cakes/edit/', item.id]">
                            <button type="button" class="btn btn-primary">Edit</button>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
