<div class="row mt-5">
    <div class="col-md-6 mx-auto">
        <h2 class="text-center">Add Cake</h2>
        <div class="card mt-3">
            <div class="card-body">
                <form [formGroup]="cakeForm" (ngSubmit)="addCake(cakeForm)">
                    <div class="form-group">
                        <label class="col-md-4">Name </label>
                        <input type="text" class="form-control" formControlName="name" />
                    </div>
                    <div class="form-group">
                        <label class="col-md-4">Comment </label>
                        <input type="text" class="form-control" formControlName="comment" />
                    </div>
                    <div class="form-group">
                        <label class="col-md-4">Image </label>
                        <input type="text" class="form-control" formControlName="imageUrl" />
                    </div>
                    <div class="form-group">
                        <label class="col-md-4">Yum Factor</label>
                        <input type="number" class="form-control" formControlName="yumFactor" />
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary col-md-4"
                            [disabled]="cakeForm.invalid">Add</button>
                        <a [routerLink]="['/']" class="btn btn-primary col-md-4 ml-1">Back</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>